<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GridMap</title>   
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
        <link href="css/main.css" rel="stylesheet" media="screen"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    </head>
    <body>
        <div id='grid-wrapper'></div>
        <div id='config-menu' ng-controller="MyCtrl">
            <div class="row">
                <div ng-view class="span3" style="position: absolute; z-index: 99;"></div>
                <div class="span9" style="margin-left: 250px; position: relative;">
                    <div ng-repeat="r in [] | range:settings.rows">
                        <div class="grid-item" ng-repeat="c in [] | range:settings.columns" ng-style="myStyle($parent.$index,$index)">{{$index + 1}},{{$parent.$index + 1}}</div>
                    </div>
                    <div class="creature" ng-repeat="c in creatures" ng-style="myCreatureStyle( c )">
                        <div class="statuses-wrapper">
                            <div class="status" ng-repeat="(skey, s) in c.statuses | filter:checkEnabled" ng-style="myStatusStyle( skey )"></div>
                        </div>
                        {{c.name}}
                    </div>
                    <div class="area" ng-repeat="a in areas" ng-style="myAreaStyle( a )">{{a.name}}</div>
                </div>
            </div>
        </div>
        
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>